<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-copy">
                <h1 class="hero-title mt-0">ZimRate</h1>
                <p class="hero-paragraph">
                    All Zimbabwean exchange rates from multiple sites in one RESTful / Graphql api. No need to scrounge the internet for the current
                    days rate.
                </p>
                <div class="hero-cta">
                    <a class="button button-primary" fragment="rates" routerLink="."> View Rates </a>
                    <a class="button" routerLink="/developers"> Software Developers </a>
                </div>
            </div>

            <app-hero></app-hero>
        </div>
    </div>
</section>

<app-features></app-features>
<app-rates></app-rates>

<app-contact></app-contact>
