<section class="features section">
	<div class="container">
		<div class="features-inner section-inner has-bottom-divider">

			<div class="text-center">
				<h2 class="section-title mt-0">
					WHY?
				</h2>
			</div>

			<div class="features-wrap">
				<div class="feature text-center is-revealing">
					<div class="feature-inner">
						<div class="feature-icon">
							<img ngSrc="app/Views/dist/assets/images/feature-icon-01.svg" alt="Feature 01" height="100"
								 width="112">
						</div>
						<h4 class="feature-title mt-24">
							Be Productive
						</h4>
						<p class="text-sm mb-0">
							Become more productive focusing on what really matters with a no nonsense api that caters
							for your needs as a software developer.
						</p>
					</div>
				</div>
				<div class="feature text-center is-revealing">
					<div class="feature-inner">
						<div class="feature-icon">
							<img ngSrc="app/Views/dist/assets/images/feature-icon-02.svg" alt="Feature 02" height="100"
								 width="108">
						</div>
						<h4 class="feature-title mt-24">
							Save Time
						</h4>
						<p class="text-sm mb-0">
							Spend more time developing the core of your applications relying on a fast and reliable api,
							that is easily customizable to the needs of your applications.
						</p>
					</div>
				</div>
				<div class="feature text-center is-revealing">
					<div class="feature-inner">
						<div class="feature-icon">
							<img ngSrc="app/Views/dist/assets/images/feature-icon-03.svg" alt="Feature 03" height="100"
								 width="103">
						</div>
						<h4 class="feature-title mt-24">
							It's Free
						</h4>
						<p class="text-sm mb-0">
							Well, had to say it, who doesn't like free goodies.<br>There are no plans to charge for this
							service.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
