<!-- Fork -->
<a
    class="github-fork-ribbon fixed"
    data-ribbon="Fork me on GitHub"
    href="https://github.com/richard-muvirimi/zimrate-server"
    target="_blank"
    title="Fork me on GitHub"
>
    Fork me on GitHub
</a>

<header class="site-header">
    <div class="container">
        <div class="site-header-inner">
            <div class="brand header-brand">
                <h1 class="m-0">
                    <a routerLink="./">
                        <img
                            alt="Logo"
                            class="header-logo-image"
                            height="32"
                            ngSrc="{{ assetUrl('assets/images/logo.svg').toString() }}"
                            width="28"
                        />
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>
