<section class="hero">
	<div class="container">
		<div class="hero-inner">
			<div class="hero-copy">
				<h1 class="hero-title mt-0">Frequently Asked Questions</h1>
			</div>

			<app-hero></app-hero>

		</div>
	</div>
</section>

<section class="features section">
	<div class="container">
		<div class="features-inner has-bottom-divider">
			<dl>
				<dt>What the heck is this?</dt>
				<dd>-This is a RESTful service that allows you to get Zimbabwean currency updates from a single
					place.
				</dd>
				<dt>But why?</dt>
				<dd>-I noted with frustration that to get the current days rate, one had to visit multiple sites and
					then work out an average, maximum or minimum from all those sites. this would be a nightmare for
					a software developer as they would have to scan all those sites to get a meaningful rate. This
					web application does this automatically every hour so you get an accurate rate by the hour.</dd>
				<dt>So how do i get started?

				</dt>
				<dd>-A developers page has been timeously crafted to get you started.</dd>
				<dt>How much do I pay?</dt>
				<dd>-This is a free service as in FREE. Do with it what ever you see fit (except trying to hack this
					server of course)
				</dd>
				<dt>What if i need feature X</dt>
				<dd>-You are free to contact me on <a [href]="site$">{{site$}}</a> and will do my best to make your
					idea a reality.
				</dd>
				<dt>Is this stable and can I rely on this</dt>
				<dd>-This RESTful application is hosted on a server with a 99.99 percent uptime. Future updates of
					this RESTful service will not break apps relying on previous versions through the use of Api
					versioning.
				</dd>
				<dt>Are donations welcome</dt>
				<dd>-Yes of course, Visit <a [href]="site$">{{site$}}</a>
				</dd>

			</dl>
		</div>
	</div>
</section>
